/node_modules
/vendor
/.env
/.env.backup
/.phpunit.result.cache


# Logs and compiled assets (do not commit)
/storage/logs/
/public/storage
/public/js/app.js
/public/mix-manifest.json
/tests
.DS_Store
