.nav .mobile-nav{
    position: relative;
}
.nav .mobile-sidebar{
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    width:300px;
    max-width:77.5%;
    z-index:2200;
    overflow-y: auto;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5);

    -webkit-animation-name: mobile-nav-scroll;
    animation-name: mobile-nav-scroll;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    min-height: 100vh;
    height: 100%;
}
.mobile-sidebar .sidebar-logo-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #dedede;
    padding:0 15px;
    a{
        display: flex;
        align-items: center;
    }
    .mobile-logo-container{
        content: url('../../../assets/nav/logo.png');
        height:50px;
    }
    button{
        border: 0;
        background: none;
        font-size: 35px;
        margin-bottom: -7.5px;
        color:#31335b;
        cursor: pointer;
    }
}
.mobile-sidebar::-webkit-scrollbar {
    width: 7.5px;
}
.mobile-sidebar::-webkit-scrollbar-track {
    background: #e2e2e2;
    border-radius: 1px;
}
.mobile-sidebar::-webkit-scrollbar-thumb {
    background-color:  #474c55;
    border-radius: 1px;
}
@-webkit-keyframes mobile-nav-scroll {
   0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes mobile-nav-scroll {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.mobile-sidebar .mobile-sidebar-links{
    .nav-sidebar-link{
        display: flex;
        justify-content: space-between;
        padding:16px 20px 15px;
        border-left: 4px solid transparent;
        a{
            font-size: 16.5px;
            width:160px;
            display: flex;
            align-items: center;
            text-decoration: none !important;
            color:#555;
            svg{
                font-size: 20px;
                margin-right: 10px;
                color: #fdd535;

            }
        }
        &:hover{
            border-left: 4px solid #fdd535;
        }
    }
    .dropdown-arrow{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-size: 22.5px;
        margin-bottom: -3px;
        color:#777;
        cursor: pointer;
    }
}

.mobile-nav .inner-links{
    margin:0;
    h6{
        padding:20px 10px 10px 55px; 
        font-size: 16px;
        color:#474c55;
    }
    a{
        padding:10px 10px 10px 55px;
        border-bottom: 1px solid #aaa;
        color:#555;
        font-size: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        &:hover{
            color:var(--main-color);
        }
    }    
}

.mobile-sidebar .sidebar-auth{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:15px 0;
    a{
        font-size: 16.5px;
        padding:10px 20px;
        border-radius: 5px;
        background-color: #fdd535;
        margin:7.5px;
        color:rgb(255, 255, 255) !important;
        text-decoration: none !important;
        display: flex;
        justify-content: center;
    }

}