.nav{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.2vw 2.5% 0;

    .left-side{
        display: flex;
        align-items: center;
    }

    .menu-button{
        color:#fff;
        border:0;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: max(21px, 1.5vw);
        margin-right: max(15px, 1.25vw);
    }

    .nav-logo{
        display: flex;
        align-items: center;
        text-decoration: none;
        .logo-container{
            content: url('../../../assets/nav/logo.png');
            width: 13%;
            color: #07271c;
            font-size: max(20px, 1.35vw);
            font-weight: 700;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }
    }

    .nav-links{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        .nav-link{
            position: relative;
            margin:0 max(2.5px, 0.7vw);

            &:hover{
                .line{
                    width: 90%;
                }
            }
        }

        .line{
            position: absolute;
            top:3.5vw;
            width: 0;
            background: #fdd535;
            height: max(2px, 0.15vw);
            border-radius: 5px;
            left:0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            transition: 0.3s ease-in-out;

            @media(max-width:1200px){
                top:40px;
            }
        }

        .inner-nav-link{
            color:#000;
            display: flex;
            align-items: center;
            text-decoration: none !important;
            padding:max(1.85vw, 20px) 0.5vw;
            font-size: max(15px, 0.9vw);
            position: relative;
            z-index: 2;

            svg{
                font-size: max(16px, 1.1vw);
                margin-left: max(2px, 0.15vw);
                transition: 0.15s ease-in-out;
            }
        }
    }

    .nav-auth{
        display: flex;
        align-items: center;

        .contact-us{
            border:1.2px solid #000000;
            text-decoration: none !important;
            color:#050303;
            padding:10px 25px;
            border-radius: max(20px, 1.3vw);
            font-size: max(12px, 0.85vw);
            cursor: pointer;
            transition: all 0.25s ease;
            &:hover{
                background: #000;
                color: #fff;
            }
        }
    }

    .mobile-nav{
        display: none;
    }

    @media(max-width:1020px){
        padding:0;

        .nav-links,
        .left-side,
        .nav-auth{
            display: none;
        }

        .mobile-nav{
            display: block;
        }
    }
}
.nav__sticky{
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;

    .menu-button,
    .nav-links{
        color:#111;
    }

    .nav-logo{
        .logo-container{
            color: #07271c;
        }
    }

    .nav-auth{
        .contact-us{
            border:1.2px solid #000;
            color: #000;
        }
    }
}